nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  width: 100%;
  position:fixed; /* Set the navbar to fixed position */
  top:0; /* Position the navbar at the top of the page */
}

nav .title{
  font-family: 'Bungee', cursive;
  font-size: 35px;
}

.compose-btn {
  background-color: Transparent;
  color: #ffffff;
  border: none;
}

.compose-btn:focus {
  outline:0;
}

nav .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

